<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>添加角色</title>
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div style="width: 600px;height: 100%;text-align: center;">
  <form action="/add" method="post">
    id：<input class="form-control" type="text" th:value="${id}" name="id"><br>
    角色名：<input class="form-control" type="text" th:value="${roleName}" name="roleName"><br>
    <button class="btn btn-primary btn-lg btn-block"><font color="black">保存</font></button>
  </form>
</div>
</body>
</html>