<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改角色功能</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div style="width: 600px;height: 100%;text-align: center;">
    <form action="/updaterolefea" method="post">
        <input name="_method" type="hidden" value="put">
        ID：<input class="form-control" type="text" th:value="${roleFeas.id}" name="id"><br>
        角色ID：<input class="form-control" type="text" th:value="${roleFeas.roleID}" name="roleID"><br>
        功能ID：<input class="form-control" type="text" th:value="${roleFeas.feaID}" name="feaID"><br>
        <button class="btn btn-primary btn-lg btn-block" type="submit">提交</button>
    </form>
</div>
</body>
</html>